.contact {
  margin-top: 7rem;
  background: #2879fe;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.mail {
  display: flex;
  /* gap: 5px; */
  align-items: center;
}

.mail input {
  padding: 0.3rem 2rem;
  text-indent: initial;
  font-size: 18px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.mail span {
  background-color: #333;
  padding: 0.4rem;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.contact-socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-socials svg {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.748);
}

.contact-socials svg:hover {
  color: white;
}


@media screen and (max-width: 1200px) {
  .text{
    font-size: 15px;
    width: 100%;
  }

  .mail input {
    font-size: 16px;
  }
  .mail span {
    padding: 0.3rem 1rem;
    font-size: 8px;
    width: 100%;
  }

  .contact-socials {
    gap: 0.7rem;
  }

  .contact-socials svg{
    font-size: 1.4rem;
  }
}