.footer {
  margin: 5rem 3rem 2rem 3rem;
}

.top {
  display: flex;
  gap: 5rem;
}

.top .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 0.5rem;
  letter-spacing: 1.1px;
  cursor: pointer;
  margin: 0 auto;
}

.item > h1 {
  color: #777;
  font-size: 1.2rem;
}

.top .item p,
.top .item span {
  font-size: 13px;
  color: #777;
}

.bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin-top: 2rem;
  gap: 3rem;
}

.left .logo {
  font-size: 30px;
  color: #03045e;
  font-weight: 600;
}

.left .copyright {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 2rem;
  color: #777;
}
.right img {
  width: 80%;
  margin-top: 2rem;
  margin-left: 4rem;
  border-left: 1px solid black;
}

@media screen and (max-width: 1200px) {
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  h1 {
    text-align: left;
  }
  .top .item p {
    text-align: left;
    font-size: 10px;
  }

  .bottom {
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
  }

  .left .logo {
    font-size: 25px;
  }

  .left .copyright {
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 1rem;
    }

  .right img {
    width: 80%;
    margin: 0 auto;
    display: grid;
    place-items: center ;
  }
}
